body{
  background-color:#F1E48D;
  }

img{
 width:50%;
 height:auto;
 display:block;
 margin: 0 auto; /* 这一行将图片水平居中 */
 }
 
.div1{
 width:1200px;
 display:block;
 position:absolute;
 left:50%;
 top:60%;
 
 margin-left:-600px;
 margin-top:-500px;
 
 float:left;
 z-index:1;

 }

.footer {
   height:100px;
 width:100%;
 background-color:#534741;
 position:absolute;
 bottom:0;
 left:0;
 z-index:100;
 }


.footer img{
  height:100px;
width:1000px;
display:block;
position:relative;

margin:auto;
}
