.start-button {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    background-color: gray;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 100;
    font-size: 30px;/* 修改字體大小 */
    font-weight: bold;/* 加粗字體 */
    border-radius: 10px; /* 設置圓角半徑為 10px */
}