body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #009FE3; /* Updated background color */
}

.header h1 {
  color: #fff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.central-image {
  max-width: 80%; /* Adjust based on your needs */
  height: auto;
  margin-right: 20px; /* Creates space between the image and the text */
}

.text-and-button {
  text-align: left;
  color: #000000;
}

.animated-button {
  font-size: 50px;
  height: 100px;
  width: 150px;
  background-color: red; /* Use your color */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
  border-radius: 2px;
  border-top-left-radius:  2px;
  border-bottom-left-radius: 50%;
}

.animated-button:hover {
  transform: scale(1.5); /* Zoom in */
}

