.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container1 {
  flex: 0 0 auto;
  width: 15vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  background-color: #F5F5DC;
}
.home-container2 {
  flex: 0 0 auto;
  width: 70vw;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container3 {
  flex: 0 0 auto;
  width: 70vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F5F5DC;
}
.home-image {
  width: 25vw;
  height: 50vh;
  margin-top: 5vh;
  object-fit: cover;
}
.home-text {
  margin-top: 4vh;
}
.home-container4 {
  flex: 0 0 auto;
  width: 40vw;
  height: 10vh;
  display: flex;
  margin-top: 4vh;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  width: 0; /* 初始寬度 */
  height: 50px;
  background-color: blue;
  animation: stretch 2s forwards; /* 動畫時間為5秒，且在動畫結束時保留最後的狀態 */
}
.home-container5 {
  flex: 0 0 auto;
  width: 60vw;
  height: 20vh;
  display: flex;
  align-self: center;
  margin-top: 4vh;
  align-items: center;
  justify-content: center;
}
.home-image1 {
  width: 10vw;
  height: 20vh;
  object-fit: auto;
  margin-right: 2vw;
}
.home-image2 {
  width: 10vw;
  height: 20vh;
  object-fit: auto;
  margin-left: 2vw;
}
.home-container6 {
  flex: 0 0 auto;
  width: 15vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  background-color: #F5F5DC;
}

@media(max-width: 1400px) {
  .home-image {
    width: 45vw;
  }
  .home-image1{
    width: 15vw;
  }
  .home-image2{
    width: 15vw;
  }
}
@media(max-width: 1180px) {
  .home-image {
    width: 45vw;
  }
  .home-image1{
    width: 15vw;
  }
  .home-image2{
    width: 15vw;
  }
}
@media(max-width:1024px){
  .home-image{
    width: 45vw;
  }
  .home-image1{
    width: 15vw;
  }
  .home-image2{
    width: 15vw;
  }
}

@keyframes stretch {
  0% {
    width: 0;
     background-color: red;
  }  
  100% {
    width: 100%; 
    background-color: green;
  }
}
